.editors {
}

.editors > div {
  float: left;
  width: 50%;
  height: 100%;
}

.oculus {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  line-height: 18px;
}

.grid {
  cursor: move;
  display: inline-block;
  xposition: absolute;
  	-webkit-transform-style: preserve-3d;
  	-webkit-transform-origin: 50% 50%;

    background-color: #fafafa;
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.01) 2.5%, transparent 2.5%, transparent 97.5%, hsla(0,0%,0%,.1) 97.5%),
                      -webkit-linear-gradient(left, hsla(0,0%,0%,.01) 2.5%, transparent 2.5%, transparent 97.5%, hsla(0,0%,0%,.1) 97.5%);
    background-size: 22px 22px;
    box-shadow: 0 0 0 .1em hsla(0,0%,0%,.2);
    margin: 0px;
    padding: 44px;
}

.cube,
.cube-after,
.cube-before {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.05);
    float: left;
    position: absolute;
}

.cube {
  display: inline;
  background-color: #eee;
  position: relative;
  -webkit-transform-style: preserve-3d;
}

.cube-content {
}

.cube-after {
  width: 100%;
  background-color: #ddd;
  -webkit-transform: translateY(0%) rotateX(-90deg);
  -webkit-transform-origin: 0 0;
  border-bottom: 0px solid #aaa;
}

.cube-before {
  height: 100%;
  background-color: #ccc;
  -webkit-transform: rotateY(90deg);
  -webkit-transform-origin: 0 0;
}

.cube-content .selected {
  background: yellow !important;
}

.cube-content .atom,
.cube-content .stringlike,
.cube-content .delimiter {
  border: none;
  display: inline-block;
  outline: none;
  padding: 2px 2px;
}

.cube-content .atom,
.cube-content .delimiter {
  padding: 2px 6px;
}

.cube.delimiter .cube-after {
  background-color: #aaa;
}
 
.cube-content .delimiter {
  padding: 2px 0px;
  background-color: #ccc;
}

.cube-content .stringlike {
}

.stringlike-inner {
  white-space: pre-wrap;
  background-color: #a00;
  color: white;
  border-radius: 2px;
  padding: 0px 2px;
}